*{
    margin: 0;padding: 0;box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(19deg,#1a52f9 0%, #B721FF 84%);
    position: relative;
}
nav{
    width: 100%;
    height: 15vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    position: absolute;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
}

 .menu ul li{
    list-style: none;

    display: inline-block;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
} 
.menu ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.active , ul li:hover{
        border-top: 2px solid #5dade2  ;
        border-bottom:  2px solid #5dade2 ;
        
}
.contact_btn a{
    background-color: #d465ef;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent;
    text-transform: capitalize;
    text-decoration: none;
}

.contact_btn a:hover{
    background-image: linear-gradient(lightblue,blue);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content h1{
    font-size: 50px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 500;
}
.content h2{
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
}
.social{
    position: absolute;
    width: 100px;
    height: auto;
    top: 50%;
    right: 0;
}
.icons{
    
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-image:linear-gradient(violet,darkviolet);
    display: flex;
    justify-content: center;
    align-items: center;
}

